body {
    background-image: url("https://www.publicdomainpictures.net/pictures/140000/nahled/pile-of-autumn-leaves.jpg");
    background-color: #cccccc;
  }

.logo{
    background-color: lightgoldenrodyellow;
    box-shadow: 4px 4px gray;
    position: relative ;
    float: left;
    max-width: 150px;
    height: auto;
    padding-left: 20px;
}

.park-name{
    text-align: center;
    text-shadow: 6px 6px 6px black;
    color: lightgoldenrodyellow;
    font-size: 100px;
}

.asides{
    display: flex;
    background-color: darkslategray;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 100%;
    height: auto;
}

.left-areas{
    display: flex;
    flex-wrap: wrap;
    background-color: tan;
    border: 3px solid black;
    width: 50%;
    height: auto;
    padding: 20px;
    justify-content: space-evenly;
}

.each-area{
    justify-content: space-around;
    color:black;
    width: 200px;
    border: 2px dotted black;
    padding: 30px;
}

.area-items{
    display: flex;
    flex-wrap: wrap;
}

.right-guests{
    /* display: flex; */
    background-color: tan;
    border: 3px solid black;
    width: 200px;
    height: auto;
    
    padding: 40px;
}

.bottom-info{
    text-align: center;
    font-size: 20px;
    background-color: lightgrey;
}

h2{
    text-align: center;
    font-size: 30px;
}